.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &-container {
        width: 75%;
    }

    &-title {
        margin-top: 20px;

        h1 {
            text-transform: uppercase;
            font-size: calc(var(--index) * 1.2);
            padding-left: 20px;
            font-family: "Dela Gothic One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: rgb(55, 72, 102);
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 50px;
            background-color: #ccad73;
            padding: 0 5px;
            border-radius: 5px;
        }
    }

    &-item {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px 20px;

        span {
            display: block;
            font-size: calc(var(--index) * 0.7);
            font-family: "Dela Gothic One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: rgb(55, 72, 102);
            letter-spacing: 1px;
            text-align: center;
        }
    }
}

.marker {
    background-color: rgb(55, 72, 102);
    border-radius: 8px;
    span {
        color: #fff;
    }
}


@media (max-width: 768px) {
    .details {
        &-container {
            width: 95%;
        }

        &-item {
            span {
                font-size: calc(var(--index) * 0.9);
                max-width: 240px;
            }
        }
    }
}

@media (max-width: 576px) {
    .details {
        &-item {
            span {
                font-size: calc(var(--index) * 0.99);
                max-width: 120px;
            }

            .left {
                text-align: left;
            }

            .right {
                text-align: right;
            }
        }
    }
}