.shoe-size-table {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    &__title {
      font-size: 24px;
      margin-bottom: 16px;
      text-align: center;
      font-family: "Podkova", serif;
      letter-spacing: 1px;
      color: #333;
    }
  
    &__table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
    
        th,
        td {
            padding: 12px;
            border: 1px solid #ddd;
        }
    
        th {
            background-color: #f0f0f0;
            font-weight: bold;
            text-align: center;
        }
    
        td {
            text-align: center;
        }
    
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    
        tr:hover {
            background-color: #f3f3f3;
        }
    }
}