.swiper {
    max-width: 300px; // Ограничиваем ширину слайдера
    width: 100%;
}

.swiper-slide {
    width: 100%;
    height: auto; // Автоматическая высота по содержимому
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
    object-fit: contain; // Изображение сохраняет пропорции, не обрезается
}
