.main {
    background-color: #fff;
    color: #000;
    font-family: "Podkova", serif;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    // margin-bottom: 20px;
    h2 {
        font-weight: 900;
        letter-spacing: 1px;
        p {
            margin: 10px 0 0 0;
            font-size: 20px;
            color: #4b4dd4;
        }
    }
    &-custom {
        &-title {
            line-height: 32px;
            span {
                z-index: 1;
                position: relative;
                display: inline-block;
                color: #172250;
                &::after {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgb(255, 169, 9);
                    z-index: -1;
                    transform: rotate(-5deg);
                    height: 30px;
                }
            }
        }
    }
    &-text {
        padding: 0 20px;
        span {
            font-size: 18px;
            letter-spacing: 1px;
        }
    }
    
    &-wrap {
        max-width: 550px;
        min-height: 550px;
        background-image: url(../../images/custom-prod/new-main.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        img {
            width: 100%;
            max-width: 550px;
        }
    }
    &-block {
        width: 35%;
        height: 100%;
        // filter: blur(50px);
        background-color: #969494ad;
        position: absolute;
        right: 0;
        &-svg {
            font-size: 40px;
            color: rgb(75, 69, 14);
        }
        img {
            width: 25px;
        }
        &-delivery {
            margin-top: 80px;
        }
        &-delivery, &-price, &-order {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100px;
            padding: 10px 5px;
            span {
                font-weight: 700;
                color: #2c230b;
                font-family: "Podkova", serif;
                letter-spacing: .2px;
                margin-top: 2px;
                font-size: 18px;
            }
        }
    }
}