:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 4);
}

.main {
    width: 100%;
    height: calc(var(--index) * 32);
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    
    &-left {
        width: 30%;
        height: calc(var(--index) * 32);
        display: flex;
        align-items: center;
        background-color: #e7dfdf;
        
        h1 {
            padding-left: 20px;
            font-family: "Dela Gothic One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: rgb(55, 72, 102);
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 50px;
            font-size: calc(var(--index) * 0.9);

            span {
                background-color: #ccad73;
                padding: 0 5px;
                color: #fff;
            }
        }
    }

    &-middle {
        width: 50%;
        height: calc(var(--index) * 32);
    }

    &-right {
        width: 20%;
        background-color: rgb(55, 72, 102);
        height: calc(var(--index) * 32);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 40px;

        span, a {
            color: #fff;
            letter-spacing: 1.2px;
            margin: 25px 0;
            font-size: calc(var(--index) * 0.8);
            text-transform: uppercase;
            font-family: "Kurale", serif;
            font-weight: 400;
            font-style: normal;
            
            &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: #ccad73;
            }
        }
    }
    
    // .burger {
    //     display: none;
    // }
}

.swiper-slide{
    width: calc(var(--index) * 15);
    height: calc(var(--index) * 32);
}

.swiper-slide-active {
    img {
        width: 100%;
        height: 100%;
    }
}

.burger{
    display: none;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 25px;

    span{
        height: 2px;
        width: 20px;
        background-color: white;
        
    }

    &::before, &::after {
        content: '';
        position: absolute;
        height: 2px !important;
        width: 100% !important;
        background-color: #FAF6F2 !important;
        transition: all 0.3s ease 0s !important;
    }

    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
}


@media (max-width: 992px) {
	.main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: auto;

        &-left {
            width: 90%;
            text-align: center;
            height: calc(var(--index) * 15);
            h1 {
                font-size: calc(var(--index) * 1.9);
            }
        }

        &-right {
            flex-direction: row;
            height: auto;
            width: 100%;

            .desktop {
                margin: 20px 15px;
            }
        }
        
        &-middle {
            width: 100%;
            height: calc(var(--index) * 50);
        }

        .swiper-slide{
            width: 100%;
            height: calc(var(--index) * 50);
        }
    }
}

@media (max-width: 768px) {
    .main {
        &-middle {
            height: calc(var(--index) * 44);
        }
        .swiper-slide{
            height: calc(var(--index) * 44);
        }
    }
}

@media (max-width: 576px) {
    .main {
        &-left {
            height: calc(var(--index) * 20);
            width: 100%;
            h1 {
                padding-left: 0;
            }
        }
        &-middle {
            height: calc(var(--index) * 36);
        }

        &-right {
            display: flex;
            justify-content: flex-end;
           
        }
        .swiper-slide{
            height: calc(var(--index) * 36);
        }

        .desktop {
            display: none;
        }

        .burger {
            display: flex;
            margin-right: 20px;
        }
    }
}

@media (max-width: 396px) {
    .main {
        &-left {
            height: calc(var(--index) * 20);

            h1 {
                font-size: calc(var(--index) * 1.5);
            }
        }
        &-middle {
            height: calc(var(--index) * 33);
        }
        .swiper-slide{
            height: calc(var(--index) * 33);
        }
    }
}
