.main-wrapper {
    position: relative;
    background-color: #444a5f;
    height: auto;
    &-photo {
        height: auto;
        img {
            width: 100%;
        }
    }
    &-price {
        position: relative;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-block {
            position: absolute;
            top: -30%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #f7f5f5;
            color: #000;
            width: 90%;
            height: 100px;
            border-radius: 30px;
            &-left, &-right {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
            &-right {
                background-color: #e7b630;
                border-radius: 30px;
                .block-text, .block-sum {
                    font-family: "Montserrat", serif;
                    color: #fff;
                    font-size: 16px;
                }
                .block-sum {
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            &-left {
                .block-text, .block-sum {
                    font-family: "Montserrat", serif;
                    color: #000;
                    font-size: 16px;
                }
                .block-sum {
                    font-weight: 700;
                    font-size: 20px;
                    text-decoration: line-through;
                }
            }
        }
    }
    &-btn {
        text-align: center;
        margin-top: 30px;
        padding-bottom: 30px;
        button {
            width: 90%;
            height: 100px;
            font-size: 36px;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-radius: 35px;
            font-weight: 700;
            background-color: #e7b630;
            border: none;
            outline: none;
            color: #353a4b;
            box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.884);
            cursor: pointer;
        }
    }
}

.main-quantity-order {
    width: 140px;
    background-color: #f5f3f3cb;
    color: #fff;
    position: fixed;
    top: 120px;
    left: 20px;
    z-index: 999;
    padding: 10px 0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 8px 8px 18px 12px rgba(0, 0, 0, 0.479);
    &-block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Montserrat", serif;
        color: #000;
        font-weight: 700;
        padding: 0 10px;
        img {
            width: 30px;
        }
        span {
            font-size: 24px;
            text-shadow: 4px 5px 8px rgba(0, 0, 0, 0.479);
        }
    }
    &-title {
        font-family: "Montserrat", serif;
        color: #000;
        font-weight: 700;
        font-size: 12px;
    }
}