.header-top {
    padding: 10px 15px;
    text-align: center;
    font-family: "Montserrat", serif;
    background-color: #353a4b;
    h1 {
        margin: 0;
        padding: 0;
        letter-spacing: .5px;
        font-size: 24px;
    }
}