.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(253, 253, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  overflow-y: auto; 
  padding: 20px 0; 
}

.modal-content {
  background: white;
  position: relative;
  padding: 20px 0;
  padding-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: none; 
  h2 {
      color: #f0ad1d;
      font-family: "Montserrat", serif;
      margin: 5px 0;
  }
  span {
      color: #2b2b2b;
      font-family: "Montserrat", serif;
      font-size: 12px;
  }
  p {
      color: #2b2b2b;
      font-family: "Montserrat", serif;
      font-size: 14px;
      letter-spacing: 1.5px;
  }
  .close-modal {
    color: #000;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 22px;
    cursor: pointer;
  }
}

.close-button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  background: rgb(53, 185, 71);
  color: #2b2b2b;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
}

button {
  width: 70%;
  padding: 10px 20px;
  cursor: pointer;
  background: blue;
  font-family: "Montserrat", serif;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.modal_market {
// max-width: 400px;
&-tnk {
  position: fixed;
  top: 0;
  left: 0;
}
&-title {
  text-align: center;
  font-family: "Montserrat", serif;
  color: #e4e5e7;
  max-width: 420px;
  background-color: #167413;
  padding: 5px 5px;
  h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
  }
}
&-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-card {
    max-width: 420px;
    background-color: #a7a5a55b;
    padding: 0px 0px 20px 0px;
    margin: 0 15px;
    border-radius: 15px;
    box-shadow: 4px 5px 8px rgba(34, 31, 31, 0.644);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    .card-title {
        color: #000;
        font-family: "Montserrat", serif;
        padding: 10px 10px;
        text-transform: uppercase;
    }
    .card-btn {
      margin-top: 30px;
      width: 240px;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 35px;
      font-weight: 700;
      background-color: #e7b630;
      border: none;
      outline: none;
      color: #353a4b;
      box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.479);
      cursor: pointer;
    }

    .card-poster {
      text-align: center;
      font-family: "Montserrat", serif;
      color: #353a4b;
      padding: 0px 15px;
      font-size: 20px;
      margin-top: 20px;
      &-text {
        &-percent {
          color: rgb(197, 36, 36);
          font-weight: 700;
          font-size: 26px;
        }
      }
    }
    
    .card-price {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      font-family: "Montserrat", serif;
      color: #353a4b;
      font-size: 26px;
      &-old {
        text-decoration: line-through;
        color: #696767;
      }
      &-new {
        font-weight: 700;
        border-bottom: 3px solid #e7b630;
      }
    }

    img {
      object-fit: cover;
    }
  }
}
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #000000b2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  position: relative;
  max-width: 420px;
  background-color: #fff;
  width: 80%;
  color: #000;
  font-family: "Montserrat", serif;
  text-align: center;
  padding: 25px 0;
  border-radius: 15px;
  h1 {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 0 10px;
  }
  &-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
  }
}