// :root {
// 	--index: calc(1vw + 1vh);
// 	--gallery-gap: calc(var(--index) * 4);
// }

// .swiper-slide{
//     max-width: 500px;
//     max-height: 470px;
//     width: calc(var(--index) * 15);
//     height: calc(var(--index) * 32);
// }

// .swiper-slide-active {
//     img {
//         width: 100%;
//         min-height: 100%;
//     }
// }

.main {
    background-color: #9a9d9e;
    &-title {
        padding: 0 10px;
        text-align: center;
        font-size: 14px;
        font-family: "Podkova", serif;
        color: #000;
        h1 {
            letter-spacing: 1px;
            font-weight: 900;
            text-transform: uppercase;
            margin: 0;
            padding: 10px 0;
        }
    }
}

// @media (max-width: 375px) {
//     .swiper-slide{
//         width: calc(var(--index) * 15);
//         height: calc(var(--index) * 29);
//     }
// }