:root {
	--index: calc(1vw + 1vh);
	--gallery-gap: calc(var(--index) * 4);
}

.swiper-slide{
    max-width: 500px;
    max-height: 430px;
    width: calc(var(--index) * 15);
    height: calc(var(--index) * 32);
}

.swiper-slide-active {
    img {
        width: 100%;
        min-height: 400px;
    }
}

.main {
    &-title {
        padding: 0 10px;
        text-align: center;
        font-size: 14px;
        font-family: "Inconsolata", monospace;
        color: #fff;
        h1 {
            letter-spacing: 1px;
            font-weight: 900;
        }
    }
}

@media (max-width: 375px) {
    .swiper-slide{
        width: calc(var(--index) * 15);
        height: calc(var(--index) * 29);
    }
}