:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 4);
}

.descr {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
    }

    &-title {
        h1 {
            text-transform: uppercase;
            font-size: calc(var(--index) * 1.2);
            padding-left: 20px;
            font-family: "Dela Gothic One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: rgb(55, 72, 102);
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 50px;
            background-color: #ccad73;
            padding: 0 5px;
            border-radius: 5px;
        }
    }

    &-img {
        display: block;

        

    }

    &-text {
        width: 100%;
        display: flex;
        align-items: center;

        img {
            width: calc(var(--index) * 20);
        }

        span {
            display: block;
            font-size: calc(var(--index) * 0.65);
            padding-left: 20px;
            font-family: "Kurale", serif;
            font-weight: 400;
            font-style: normal;
            color: rgb(55, 72, 102);
            letter-spacing: 1px;
            text-align: center;
        }
    }

    &-photo {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        img {
            width: calc(var(--index) * 15);
        }
    } 
}

@media (max-width: 992px) {
    .descr {
        margin-top: 0;

        &-text {
            margin-top: 10px;
            flex-direction: column;
            span {
                font-size: calc(var(--index) * 0.8);
            }

            img {
                width: calc(var(--index) * 25);
            }
        }

        &-img {
            img {
                margin: 30px 0;
            }
        }

        &-photo {
            margin-top: 25px;
        }
    }
}

@media (max-width: 768px) {
    .descr {
        margin-top: 20px;

        &-container {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-img {
            display: flex;
            width: auto; 

            img {
                width: calc(var(--index)* 20);
            }
        }

        &-text {
            padding-left: 0;
            margin-left: 0;
            width: 90%;

            span {
                font-size: calc(var(--index) * 1.2);
            }
        }

        &-photo {
            img {
                width: calc(var(--index) * 20);
            }
        }
    }
}

@media (max-width: 396px) {
    .descr {
        &-text {
            width: 100%;
            span {
                padding-left: 0;
            }
        }
    }
}